[submodule "academy-core"]
	path = academy-core
	url = https://github.com/waxew/AS-Academy-Core.git

[submodule "academy-main-course"]
	path = academy-main-course
	url = https://github.com/waxew/AS-Academy-MainCourse.git

[submodule "academy-main-ui"]
	path = academy-main-ui
	url = https://github.com/waxew/AS-Academy-MainUi.git
